extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to Delete
 else
  - let catid = toShow._id
  - let cat_type = toShow.cat_type
  - let catcost = toShow.cost
  - let catsize = toShow.size
  - let actionid = "/resource/cat/" + catid
  script let actionid = "#{actionid}"
  div
   div.row
    div(class='catAttr mr-3') cat ID is:
    div #{catid}
   div.row
    div(class='catAttr mr-3') cat Type is:
    div #{cat_type}
   div.row
    div(class='catAttr mr-3') cat Size is:
    div #{catsize}
   div.row
    div(class='catAttr mr-3') cat Cost is:
    div #{catcost}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the cat collection
      window.location.href='/cat'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/cat'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }